---
import { getCollection } from 'astro:content';
import LinkCard from '@/components/link-card.astro';
import dayjs from 'dayjs';

const articles = (await getCollection('articles')).sort((a, b) => dayjs(b.data.date).diff(dayjs(a.data.date)) );
---

{
  articles.length > 0
  ? <section>
      <h2 class="px-4 leading-7 [&:not(:first-child)]:mt-6 font-semibold text-base">Articles</h2>
      <ul class="flex flex-col gap-0.5">
        {
          articles.map((project) =>
          {
            return (
              <LinkCard type='articles' slug={project.slug} data={project.data}/>
            )
          })
        }
      </ul>
    </section>
  : null
}