---
import RootLayout from '../layouts/root-layout.astro';
import Card from '../components/Card.astro';
---

<RootLayout>
	<header class="space-y-0 px-2">
		<h1 class="leading-7 [&:not(:first-child)]:mt-6 font-semibold">Jeff Juan</h1>
		<h2 class="text-sm text-muted-foreground font-medium">Software Engineer | Design Engineering Enthusiast</h2>
	</header>
</RootLayout>