---
import '@/styles/globals.css';
import '@fontsource-variable/inter'; // Supports weights 100-900
import '@fontsource-variable/source-code-pro'; // Supports weights 200-900

import HeaderSection from '@/components/sections/header.astro';
import FooterSection from '@/components/sections/footer.astro';

import { SEO } from "astro-seo";

interface Props {
	title?: string;
	description?: string;
	isArticle?: boolean;
	article?: {
		date: string;
	}
}

const { title, description, isArticle, article } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<SEO
      title={ title ? `${title} - Jeff Juan` : 'Jeff Juan • Software Engineer & Frontend Developer'}
      description={
				description 
				?	description
				: "Jeff Juan • Innovative software engineer and frontend developer. Proficient in turning creative concepts into digital solutions."
			}

      openGraph={{
        basic: {
          title: title ? `${title} - Jeff Juan` : 'Jeff Juan • Software Engineer & Frontend Developer',
          type: "website",
          image: "https://jeffjuann.com/public/jeffjuann.png",
					url: "https://www.jeffjuann.com/",
        },
				image: {
					url: "https://jeffjuann.com/public/jeffjuann.png",
					width: 1200,
					height: 630,
					alt: "Jeff Juan"
				},
				article: isArticle && article !== undefined
					? {
						publishedTime: article.date,
						authors: ["Jeff Juan"]
					}
					: undefined
      }}
      twitter={{
				card: "summary_large_image",
				site: "@jeffjuann",
				title: title ? `${title} - Jeff Juan` : 'Jeff Juan • Software Engineer & Frontend Developer',
				description: description ? description : "Jeff Juan • Innovative software engineer and frontend developer. Proficient in turning creative concepts into digital solutions.",
				image: "https://jeffjuann.com/public/jeffjuann.png",
				imageAlt: "Jeff Juan",
        creator: "@jeffjuann"
      }}

			extend={{
				meta: [
					{
						name: "theme-color",
						content: "#ECEADF"
					},
					{
						name: "viewport",
						content: "width=device-width"
					}
				]
			}}
    />
	</head>
	<body class="bg-background flex items-start justify-center selection:bg-primary selection:text-primary-foreground">
		<main class="w-full max-w-[860px] min-h-dvh px-2 py-16 flex flex-col justify-between">
			<div class="flex flex-col gap-12 pb-12">
				<HeaderSection />
				<slot />
			</div>
			<FooterSection />
		</main>
	</body>
</html>